@import '../variables.less';

.app__content__idea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @default-white;
  border-radius: 8px;
  min-height: fit-content;
  margin: 0.5em 0;
  padding: 0.8em 1em;
  width: 100%;
  overflow: hidden;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__btn {
    justify-self: flex-end;
    color: @danger-red !important;
    margin-left: 1em;
    &:hover {
      color: @default-white !important;
      background-color: @danger-red;
    }
  }
}
